build/
.metadata/
.manager/
.scala_dependencies
bin/
org.*/
javax.*
de.uni_koeln.spinfo.*
de.uni_koeln.phil_fak.*
com.*
.DS_Store
.svn
accounts.properties
de.uni_koeln.ub.drc/res/rom/*
de.uni_koeln.ub.drc.ui/lib/*
de.uni_koeln.ub.drc.ui/pages/*
target
de.uni_koeln.ub.drc/res/*.txt
drcp/.classpath
drcp/.project
drcp/tmp
drcp/logs
drcp/server.pid
*.class
drcp/eclipse/classes
drcp/eclipse/*.launch
drcp/test-result
drcp/lib/drc-*.jar
.cache
wintest
