build/
.metadata/
.manager/
.scala_dependencies
bin/
org.*
javax.*
de.uni_koeln.spinfo.*
de.uni_koeln.phil_fak.*
com.*
.DS_Store
.svn
accounts.properties
de.uni_koeln.ub.drc/res/rom/PPN*/PPN*_*-*.xml
de.uni_koeln.ub.drc/res/rom/PPN*/PPN*_*-*.jpg
de.uni_koeln.ub.drc/res/rom/PPN*/PPN*_*-*.pdf
!de.uni_koeln.ub.drc/res/rom/PPN*/PPN*_*-0001.pdf
de.uni_koeln.ub.drc/res/rom/PPN*/PPN*.zip
de.uni_koeln.ub.drc.ui/lib/*
de.uni_koeln.ub.drc.ui/pages/*
