<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="de.uni_koeln.ub.drc.ui.product"
         name="DRC product"
         point="org.eclipse.core.runtime.products">
      <product
            application="de.uni_koeln.ub.drc.ui.DrcUiActivator"
            name="DRC">
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="appName"
               value="DRC">
         </property>
         <property
               name="startupMessageRect"
               value="0,0,0,0">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="de.uni_koeln.ub.drc.ui.views.SearchView"
            icon="icons/part_search.gif"
            id="de.uni_koeln.ub.drc.ui.views.searchview"
            name="SearchView"
            restorable="true">
      </view>
      <view
            class="de.uni_koeln.ub.drc.ui.views.CheckView"
            icon="icons/part_check.gif"
            id="de.uni_koeln.ub.drc.ui.views.checkview"
            name="CheckView"
            restorable="true">
      </view>
      <view
            class="de.uni_koeln.ub.drc.ui.views.SpecialCharacterView"
            icon="icons/part_chars.gif"
            id="de.uni_koeln.ub.drc.ui.views.specialcharacterview"
            name="SpecialCharacterView"
            restorable="true">
      </view>
      <view
            class="de.uni_koeln.ub.drc.ui.views.EditView"
            icon="icons/part_edit.gif"
            id="de.uni_koeln.ub.drc.ui.views.editview"
            name="EditView"
            restorable="true">
      </view>
      <view
            class="de.uni_koeln.ub.drc.ui.views.CommentsView"
            icon="icons/part_comments.gif"
            id="de.uni_koeln.ub.drc.ui.views.commentsview"
            name="CommentsView"
            restorable="true">
      </view>
      <view
            class="de.uni_koeln.ub.drc.ui.views.WordView"
            icon="icons/part_history.gif"
            id="de.uni_koeln.ub.drc.ui.views.wordview"
            name="WordView"
            restorable="true">
      </view>
      <view
            class="de.uni_koeln.ub.drc.ui.views.TagView"
            icon="icons/part_tags.gif"
            id="de.uni_koeln.ub.drc.ui.views.tagview"
            name="TagView"
            restorable="true">
      </view>
      <view
            class="de.uni_koeln.ub.drc.ui.views.UserView"
            id="de.uni_koeln.ub.drc.ui.views.userview"
            name="UserView"
            restorable="true">
      </view>
   </extension>
   <extension
         id="de.uni_koeln.ub.drc.ui.simpleloginmodule"
         point="org.eclipse.equinox.security.loginModule">
      <loginModule
            class="de.uni_koeln.ub.drc.ui.login.SimpleLoginModule"
            description="Simple Login Module">
      </loginModule>
   </extension>
   <extension
         id="de.uni_koeln.ub.drc.ui.login.simplelogindialog"
         point="org.eclipse.equinox.security.callbackHandler">
      <callbackHandler
            class="de.uni_koeln.ub.drc.ui.login.SimpleLoginDialog">
      </callbackHandler>
   </extension>
   <extension 
   		point="org.eclipse.equinox.security.callbackHandlerMapping">
      <callbackHandlerMapping
            callbackHandlerId="de.uni_koeln.ub.drc.ui.login.simplelogindialog"
            configName="SIMPLE">
      </callbackHandlerMapping>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="de.uni_koeln.ub.drc.ui.handlers.SaveHandler"
            id="de.uni_koeln.ub.drc.ui.handlers.savehandler"
            name="%Save">
      </command>
      <command
            defaultHandler="de.uni_koeln.ub.drc.ui.handlers.ExitHandler"
            id="de.uni_koeln.ub.drc.ui.handlers.exithandler"
            name="%Exit">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="fileMenu"
               label="%File">
            <command
                  commandId="de.uni_koeln.ub.drc.ui.handlers.savehandler"
                  icon="icons/save.gif"
                  label="%Save"
                  style="push">
            </command>
            <separator
                  name="de.uni_koeln.ub.drc.ui.separator"
                  visible="true">
            </separator>
            <command
                  commandId="de.uni_koeln.ub.drc.ui.handlers.exithandler"
                  icon="icons/exit.gif"
                  label="%Exit"
                  style="push">
            </command>
         </menu>
         <menu
               label="Layout">
            <command
                  commandId="org.eclipse.ui.perspectives.showPerspective"
                  label="Layout auswählen"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
      <extension
         point="org.eclipse.ui.perspectives">
         <perspective
               class="de.uni_koeln.ub.drc.ui.Perspective"
               id="de.uni_koeln.ub.drc.ui.perspective"
               name="DRC Layout 1">
         </perspective>
      <perspective
            class="de.uni_koeln.ub.drc.ui.PerspectiveAlternative"
            id="de.uni_koeln.ub.drc.ui.perspectivealternative"
            name="DRC Layout 2 ">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="de.uni_koeln.ub.drc.ui.perspective">
         <view
               closeable="false"
               id="de.uni_koeln.ub.drc.ui.views.searchview"
               minimized="false"
               moveable="true"
               ratio="0.35f"
               relationship="top"
               relative="org.eclipse.ui.editorss"
               visible="true">
         </view>
         <view
               closeable="false"
               id="de.uni_koeln.ub.drc.ui.views.specialcharacterview"
               minimized="false"
               moveable="true"
               ratio="0.35f"
               relationship="stack"
               relative="de.uni_koeln.ub.drc.ui.views.searchview"
               visible="true">
         </view>
         <view
               closeable="false"
               id="de.uni_koeln.ub.drc.ui.views.wordview"
               minimized="false"
               moveable="true"
               ratio="0.35f"
               relationship="stack"
               relative="de.uni_koeln.ub.drc.ui.views.searchview"
               visible="true">
         </view>
         <view
               closeable="false"
               id="de.uni_koeln.ub.drc.ui.views.tagview"
               minimized="false"
               moveable="true"
               ratio="0.35f"
               relationship="stack"
               relative="de.uni_koeln.ub.drc.ui.views.searchview"
               visible="true">
         </view>
         <view
               closeable="false"
               id="de.uni_koeln.ub.drc.ui.views.commentsview"
               minimized="false"
               moveable="true"
               ratio="0.35f"
               relationship="stack"
               relative="de.uni_koeln.ub.drc.ui.views.searchview"
               visible="true">
         </view>
         <view
               closeable="false"
               id="de.uni_koeln.ub.drc.ui.views.editview"
               minimized="false"
               moveable="true"
               ratio="0.50f"
               relationship="top"
               relative="org.eclipse.ui.editorss"
               visible="true">
         </view>
         <view
               closeable="false"
               id="de.uni_koeln.ub.drc.ui.views.checkview"
               minimized="false"
               moveable="true"
               ratio="0.15f"
               relationship="top"
               relative="org.eclipse.ui.editorss"
               visible="true">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="de.uni_koeln.ub.drc.ui.perspectivealternative">
         <view
               closeable="false"
               id="de.uni_koeln.ub.drc.ui.views.searchview"
               minimized="false"
               moveable="true"
               ratio="0.35f"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               visible="true">
         </view>
         <view
               closeable="false"
               id="de.uni_koeln.ub.drc.ui.views.specialcharacterview"
               minimized="false"
               moveable="true"
               ratio="0.35f"
               relationship="stack"
               relative="de.uni_koeln.ub.drc.ui.views.searchview"
               visible="true">
         </view>
         <view
               closeable="false"
               id="de.uni_koeln.ub.drc.ui.views.wordview"
               minimized="false"
               moveable="true"
               ratio="0.35f"
               relationship="stack"
               relative="de.uni_koeln.ub.drc.ui.views.searchview"
               visible="true">
         </view>
         <view
               closeable="false"
               id="de.uni_koeln.ub.drc.ui.views.tagview"
               minimized="false"
               moveable="true"
               ratio="0.35f"
               relationship="stack"
               relative="de.uni_koeln.ub.drc.ui.views.searchview"
               visible="true">
         </view>
         <view
               closeable="false"
               id="de.uni_koeln.ub.drc.ui.views.commentsview"
               minimized="false"
               moveable="true"
               ratio="0.35f"
               relationship="stack"
               relative="de.uni_koeln.ub.drc.ui.views.searchview"
               visible="true">
         </view>
         <view
               closeable="false"
               id="de.uni_koeln.ub.drc.ui.views.editview"
               minimized="false"
               moveable="true"
               ratio="0.50f"
               relationship="top"
               relative="org.eclipse.ui.editorss"
               visible="true">
         </view>
         <view
               closeable="false"
               id="de.uni_koeln.ub.drc.ui.views.checkview"
               minimized="false"
               moveable="true"
               ratio="0.15f"
               relationship="top"
               relative="org.eclipse.ui.editorss"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <scheme
            id="de.uni_koeln.ub.drc.ui.scheme"
            name="de.uni_koeln.ub.drc.ui.scheme"
            parentId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </scheme>
      <key
            commandId="de.uni_koeln.ub.drc.ui.handlers.savehandler"
            contextId="de.uni_koeln.ub.drc.ui.perspectivecontext"
            schemeId="de.uni_koeln.ub.drc.ui.scheme"
            sequence="M1+S">
      </key>
      <key
            commandId="de.uni_koeln.ub.drc.ui.handlers.exithandler"
            contextId="de.uni_koeln.ub.drc.ui.perspectivecontext"
            schemeId="de.uni_koeln.ub.drc.ui.scheme"
            sequence="M1+Q">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            id="de.uni_koeln.ub.drc.ui.editcontext"
            name="Edit context"
            parentId="org.eclipse.ui.contexts.dialogAndWindow">
      </context>
      <context
            id="de.uni_koeln.ub.drc.ui.perspectivecontext"
            name="Perspective default">
      </context>
      <context
            id="de.uni_koeln.ub.drc.ui.alternativecontext"
            name="Perspective alternative">
      </context>
   </extension>
</plugin>
