<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.6"?>
<plugin>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.e4.ui.workbench.swt.E4Application"
            name="DRC e4 UI">
         <property
               name="applicationXMI"
               value="de.uni_koeln.ub.drc.ui/Application.e4xmi">
         </property>
         <property
               name="appName"
               value="DRC UI">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="applicationCSS"
               value="de.uni_koeln.ub.drc.ui.themes.default">
         </property>
      </product>
   </extension>
   
   <!-- Theming -->
   <extension
         point="org.eclipse.e4.ui.css.swt.theme">
      <theme
            basestylesheeturi="css/dafault.css"
            id="de.uni_koeln.ub.drc.ui.themes.default"
            label="Default DRC Theme">
      </theme>
   </extension>
  
  <!-- Authentication, Login, Security -->
   <extension
         id="simpleLoginModule"
         point="org.eclipse.equinox.security.loginModule">
      <loginModule
            class="de.uni_koeln.ub.drc.ui.login.SimpleLoginModule"
            description="Simple Login Module">
      </loginModule>
   </extension>
   <extension
         id="simpleCallbackHandler"
         point="org.eclipse.equinox.security.callbackHandler">
      <callbackHandler
            class="de.uni_koeln.ub.drc.ui.login.SimpleLoginDialog">
      </callbackHandler>
   </extension>
   <extension
         point="org.eclipse.equinox.security.callbackHandlerMapping">
      <callbackHandlerMapping
            callbackHandlerId="de.uni_koeln.ub.drc.ui.simpleCallbackHandler"
            configName="SIMPLE">
      </callbackHandlerMapping>
   </extension>
   
</plugin>
