#{extends 'main.html' /} #{set title:'crestomazia.ch' /}

<h1>&{'views.contact.header.1'}</h1>

<h2>&{'views.contact.header.2'}</h2>

<p>
&{'views.contact.person.1'}<br/>
&{'views.contact.person.2'}
</p>

<h2>&{'views.contact.header.3'}</h2>

<p>
&{'views.contact.spinfo.1'}<br/>
&{'views.contact.spinfo.2'}<br/>
&{'views.contact.spinfo.3'}<br/>
&{'views.contact.spinfo.4'}<br/>
&{'views.contact.spinfo.5'}<br/>
&{'views.contact.spinfo.6'}
</p>

<p>
&{'views.contact.ub.1'}<br/>
&{'views.contact.ub.2'}<br/>
&{'views.contact.ub.3'}<br/>
&{'views.contact.ub.4'}<br/>
&{'views.contact.ub.5'}<br/>
&{'views.contact.ub.6'}
</p>

<h2>&{'views.contact.header.4'}</h2>

<p>
&{'views.contact.person.3'}<br/>
&{'views.contact.person.4'}
</p>

<h2>&{'views.contact.header.5'}</h2>

<p>
&{'views.contact.person.5'}<br/>
&{'views.contact.person.6'}
</p>