@import play.i18n.Messages._
@main("crestomazia.ch") {

<h1>@Html(get("views.contact.header.1"))</h1>

<h2>@Html(get("views.contact.header.2"))</h2>

<p>
@Html(get("views.contact.person.1"))<br/>
@Html(get("views.contact.person.2"))
</p>

<h2>@Html(get("views.contact.header.3"))</h2>

<p>
@Html(get("views.contact.spinfo.1"))<br/>
@Html(get("views.contact.spinfo.2"))<br/>
@Html(get("views.contact.spinfo.3"))<br/>
@Html(get("views.contact.spinfo.4"))<br/>
@Html(get("views.contact.spinfo.5"))<br/>
@Html(get("views.contact.spinfo.6"))
</p>

<p>
@Html(get("views.contact.ub.1"))<br/>
@Html(get("views.contact.ub.2"))<br/>
@Html(get("views.contact.ub.3"))<br/>
@Html(get("views.contact.ub.4"))<br/>
@Html(get("views.contact.ub.5"))<br/>
@Html(get("views.contact.ub.6"))
</p>

<h2>@Html(get("views.contact.header.4"))</h2>

<p>
@Html(get("views.contact.person.3"))<br/>
@Html(get("views.contact.person.4"))
</p>

<h2>@Html(get("views.contact.header.5"))</h2>

<p>
@Html(get("views.contact.person.5"))<br/>
@Html(get("views.contact.person.6"))
</p>

}