#{extends 'main.html' /} #{set title:'Kontakt' /}

<h1>Kontakt</h1>

<h2>Ansprechpartner</h2>

<p>
Dr. Florentin Lutz (florentin.lutz [at] crestomazia.ch)<br/>
Michele Badilatti (mi.badilatti [at] crestomazia.ch)
</p>

<h2>Projektleitung</h2>

<p>
Prof. Dr. Jürgen Rolshoven<br/>
Universität zu Köln<br/>
Institut für Linguistik<br/>
Abteilung Sprachliche Informationsverarbeitung<br/>
Albertus-Magnus-Platz<br/>
D-50923 Köln
</p>

<p>
Prof. Dr. Wolfgang Schmitz<br/>
Leitender Bibliotheksdirektor<br/>
der Universitäts- und Stadtbibliothek Köln<br/>
Leiter des Universitätsarchivs Köln<br/>
Universitätsstraße 33<br/>
D-50931 Köln
</p>

<h2>Projektmitarbeiter</h2>

<p>
Claes Neuefeind M.A. (c.neuefeind [at] uni-koeln.de)<br/>
Fabian Steeg M.A. (fabian.steeg [at] uni-koeln.de)
</p>