#{extends 'main.html' /} #{set title:'crestomazia.ch' /}

<h1>&{'views.faq.header.1'}</h1>

<a href="#q1">&{'views.faq.q1'}</a>
<br />
<a href="#q2">&{'views.faq.q2'}</a>
<br />
<a href="#q3">&{'views.faq.q3'}</a>
<br />
<a href="#q4">&{'views.faq.q4'}</a>
<br />
<a href="#q5">&{'views.faq.q5'}</a>
<br />
<a href="#q6">&{'views.faq.q6'}</a>
<br />
<a href="#q7">&{'views.faq.q7'}</a>
<br />
<a href="#q8">&{'views.faq.q8'}</a>
<!--
<br />
<a href="#q9">&{'views.faq.q9'}</a>
<br />
<a href="#q10">&{'views.faq.q10'}</a>
<br />
<a href="#q11">&{'views.faq.q11'}</a>
<br />
<a href="#q12">&{'views.faq.q12'}</a>
<br />
<a href="#q13">&{'views.faq.q13'}</a>
 -->
<br />
<a href="#q14">&{'views.faq.q14'}</a>
<br />

 
<h2 id="q1">&{'views.faq.q1'}</h2>
<p>&{'views.faq.a1', '../application/signup', 'http://github.com/spinfo/drc/downloads'}</p>

<h2 id="q2">&{'views.faq.q2'}</h2>
<p>&{'views.faq.a2'}</p>

<h2 id="q3">&{'views.faq.q3'}</h2>
<p>&{'views.faq.a3'}</p>

<h2 id="q4">&{'views.faq.q4'}</h2>
<p>&{'views.faq.a4'}</p>

<h2 id="q5">&{'views.faq.q5'}</h2>
<p>&{'views.faq.a5'}</p>

<h2 id="q6">&{'views.faq.q6'}</h2>
<p>&{'views.faq.a6'}</p>

<h2 id="q7">&{'views.faq.q7'}</h2>
<p>&{'views.faq.a7'}</p>
	
<h2 id="q8">&{'views.faq.q8'}</h2>

<h3 id="q9">&{'views.faq.q9'}</h3>
<p>&{'views.faq.a9'}</p>

<h3 id="q10">&{'views.faq.q10'}</h3>
<p>&{'views.faq.a10'}</p>

<h3 id="q11">&{'views.faq.q11'}</h3>
<p>&{'views.faq.a11'}</p>

<h3 id="q12">&{'views.faq.q12'}</h3>
<p>&{'views.faq.a12'}</p>

<h3 id="q13">&{'views.faq.q13'}</h3>
<p>&{'views.faq.a13'}</p>

<h2 id="q14">&{'views.faq.q14'}</h2>
<p>&{'views.faq.a14'}</p>

<p>&{'views.faq.more'} <a href="@{Application.contact}">&{'views.contact.header.1'}</a></p>
