#{extends 'main.html' /} #{set title:'Fragen' /}

<h1>Fragen</h1>

<a href="#q1">Wie kann ich an der DRC mitarbeiten?</a>
<br />
<a href="#q2">Was ist der DRC-Editor?</a>
<br />
<a href="#q3">Wie starte ich den DRC-Editor?</a>
<br />
<a href="#q4">Benötige ich zusätzliche Software?</a>
<br />
<a href="#q5">Wofür brauche ich einen Account?</a>
<br />
<a href="#q6">Muss ich mich registrieren?</a>
<br />
<a href="#q7">Wie kann ich die Bereiche des DRC-Editors anders anordnen?</a>
<br />
<a href="#q8">Wie kann ich mit dem DRC-Editor...</a>
<!--
<br />
<a href="#q9">...die Chrestomathie durchsuchen?</a>
<br />
<a href="#q10">...korrigieren?</a>
<br />
<a href="#q11">...Schlagworte (Tags) vergeben?</a>
<br />
<a href="#q12">...kommentieren?</a>
<br />
<a href="#q13">...speichern?</a>
<br />
 -->
 
<h2 id="q1">Wie kann ich an der DRC mitarbeiten?</h2>
<p>Melden Sie sich hier an und laden Sie die aktuelle Version des
	DRC-Editors für Windows oder Mac. Auf Anfrage können zusätzliche
	Downloads bereitgestellt werden, etwa für speziellere
	Betriebssystemversionen oder für Linux.</p>

<h2 id="q2">Was ist der DRC-Editor?</h2>
<p>Mit dem DRC-Editor können die Texte der Chrestomathie
	kollaborativ, d. h. gemeinschaftlich, bearbeitet werden. Über den
	Editor können Sie somit nicht nur in der Chrestomathie suchen und
	lesen, sondern auch korrigieren, kommentieren und Schlagworte
	hinzufügen. Alle Veränderungen, die mit dem Editor vorgenommen werden,
	werden zentral auf einem Server gespeichert. Dadurch können immer auch
	die Korrekturen, Schlagworte und Kommentare aller anderen Nutzer
	angezeigt und bei Bedarf selbst wieder bearbeitet werden. [Screenshot]
</p>

<h2 id="q3">Wie starte ich den DRC-Editor?</h2>
<p>Windows: Mit der die heruntergeladenen Datei können Sie den
	DRC-Editor auf ihrem PC installieren. Durch Doppelklick auf öffnet sich
	ein Dialogfenster, in dem Sie festlegen können, wo das Programm
	installiert werden soll. Das Programm kann anschließend über das
	Startmenü gestartet und jederzeit wieder deinstalliert werden. MacOS:
	Entpacken Sie das heruntergeladene Zip-Archiv an einem Ort Ihrer Wahl
	(z.B. auf dem Schreibtisch). Im entpackten Ordner findet sich die
	Programmdatei "DRC". Starten Sie das Programm durch einen Doppelklick
	auf diese Datei. Um das Programm zu deinstallieren, löschen Sie einfach
	den gesamten Ordner.</p>

<h2 id="q4">Benötige ich zusätzliche Software?</h2>
<p>Für die gängigen Betriebssysteme ist keine zusätzliche Software
	erforderlich. Der Editor basiert auf Java, das in der Regel
	vorinstalliert ist. Sollten dennoch Probleme auftreten, wenden Sie sich
	bitte einfach direkt an uns.</p>

<h2 id="q5">Wofür brauche ich einen Account?</h2>
<p>Die verschiedenen Nutzernamen bilden die Basis für das
	gemeinschaftliche Arbeiten. Alle Veränderungen, die mit dem Editor
	vorgenommen werden, werden mit ihrem (selbst gewählten) Account
	verknüpft und zentral auf einem Server gespeichert. Dadurch kann jeder
	Nutzer die Korrekturen, Schlagworte und Kommentare aller anderen Nutzer
	sehen und bei Bedarf selbst wieder bearbeiten. Auf diese Weise können
	mehrere Nutzer gleichzeitig über den DRC-Editor an der Chrestomathie
	arbeiten.</p>

<h2 id="q6">Muss ich mich registrieren?</h2>
<p>Für die Arbeit mit dem Editor benötigen Sie einen Account, den
	Sie sich hier selbst anlegen können. Name und Passwort können frei
	gewählt werden, so dass auch mit eigenem Account anonym gearbeitet
	werden kann. Wenn Sie den Editor zunächst einfach nur ausprobieren
	möchten, können Sie sich unter dem Benutzernamen "Anonymous" ohne
	Passwort anmelden.</p>

<h2 id="q7">Wie kann ich die Bereiche des DRC-Editors anders anordnen?</h2>
<p>Die Anordnung der Bereiche ist nicht fest vorgegeben. Die
	einzelnen Bereiche können innerhalb des Hauptfensters frei bewegt und
	in ihrer Größe verändert werden. Klicken Sie hierfür auf die
	Titelleiste des jeweiligen Fensters und halten die Maustaste gedrückt.
	Der Bereich lässt sich nun an eine andere Position ziehen. Die Bereiche
	können sowohl nebeneinander platziert, als auch wie Registerkarten
	übereinandergelegt werden (z.B. die Fenster 'Korrekturverlauf' und
	'Sonderzeichen' im unteren Bereich). [Screenshot?]</p>
	
<h2 id="q8">Wie kann ich mit dem DRC-Editor...</h2>

<h3 id="q9">...die Chrestomathie durchsuchen?</h3>
<p>Suchbegriffe können über das Eingabefenster im oberen Bereich
	("Navigation") eingegeben werden. In der Listenansicht werden alle
	Seiten angezeigt, die mit dem Suchbegriff übereinstimmen. Durch Klicken
	auf eine Zeile im Suchergebnis öffnet sich die Detailansicht der
	gewählten Seite im unteren Bereich, Angaben zur aktuell angezeigten
	Seite (Band, Seitenzahl und bereits vergebene Schlagworte) finden sich
	unterhalb der Ergebnisliste, ebenso zwei Pfeiltasten zum seitenweisen
	Blättern (vorherige bzw. nächste Seite). [Screenshot?]</p>

<h3 id="q10">...korrigieren?</h3>
<p>Die jeweils ausgewählte Seite wird als veränderbarer Text im
	Fenster "Bearbeiten" angezeigt. Der Text kann wortweise verändert
	werden. Zur Überprüfung von unklaren Fällen wird im Fenster
	"Überprüfen" stets parallel ein Bild des Originaltextes angezeigt. Die
	Veränderungen zu den einzelnen Wörtern werden im Fenster
	"Korrekturverlauf" angezeigt. [Screenshot?]</p>

<h3 id="q11">...Schlagworte (Tags) vergeben?</h3>
<p>Über ein zweites Eingabefenster im Fenster "Navigation" (unten
	rechts) können zur angezeigten Seite beliebige Schlagworte eingegeben
	werden. Bereits vorhandene Schlagworte werden in der Übersichtsliste im
	Fenster "Navigation" angezeigt [Screenshot?]</p>

<h3 id="q12">...kommentieren?</h3>
<p>Anmerkungen, Verweise und Fragen können als Freitext im Fenster
	"Kommentare" eingegeben werden (im unteren Bereich des Editors). In
	diesem Fenster werden zudem alle zur aktuellen Seite bereits
	vorhandenen Kommentare angezeigt. [Screenshot?]</p>

<h3 id="q13">...speichern?</h3>
<p>Um die Änderungen zu speichern, klicken Sie auf das
	Disketten-Symbol in der Menüleiste, wählen Sie im Hauptmenü
	"Datei"/"Speichern" oder nutzen Sie das in ihrem Betriebssystem übliche
	Tastekürzel (Strg+S bei Windows, Cmd+S bei MacOS). Die Daten werden
	zentral auf einem Server gespeichert. Um eine oder mehrere Seiten auf
	ihrer Festplatte zu speichern, wählen Sie den Menüpunkt "Exportieren".
</p>
	
<p>Weitere Hilfe erhalten Sie unter <a href="@{Application.contact}">Kontakt</a></p>
