@(top:List[de.uni_koeln.ub.drc.data.User], fields:List[String])
@import play.i18n.Messages._
@main("crestomazia.ch") {
<div id="left">

  <h3>@Html(get("views.index.header.3"))</h3>

	@form(controllers.Application.find()){
	<table class="form">
		<tr class="form">
			<td class="form"><label for="term">@Html(get("views.index.search.term"))</label>
			</td>
			<td class="form"><input class="text" type="text" name="term" id="term"
				/>
			</td>
			<td class="form"> 
			<select class="small" name="volume" size="1" id="volume">
					<option value="0" selected="selected">@Html(get("views.index.search.all")) </option>
					<option value="1">@Html(get("views.index.search.volume")) I, 1.</option>
					<option value="2">@Html(get("views.index.search.volume")) I, 2. - 3.</option>
					<option value="3">@Html(get("views.index.search.volume")) II, 1.</option>
					<option value="4">@Html(get("views.index.search.volume")) II, 2. - 3.</option>
					<option value="5">@Html(get("views.index.search.volume")) III</option>
					<option value="6">@Html(get("views.index.search.volume")) IV</option>
					<option value="7">@Html(get("views.index.search.volume")) V</option>
					<option value="8">@Html(get("views.index.search.volume")) VI</option>
					<option value="9">@Html(get("views.index.search.volume")) VII</option>
					<option value="10">@Html(get("views.index.search.volume")) VIII</option>
					<option value="11">@Html(get("views.index.search.volume")) IX</option>
					<option value="12">@Html(get("views.index.search.volume")) X, 1. - 3.</option>
					<option value="13">@Html(get("views.index.search.volume")) X, 3.</option>
					<option value="14">@Html(get("views.index.search.volume")) XI</option>
					<option value="15">@Html(get("views.index.search.volume")) XII</option>
					<option value="16">@Html(get("views.index.search.volume")) XIII</option>
					<option value="17">@Html(get("views.index.search.volume")) XIV</option>
			</select></td>
			<td class="form"> 
			<select class="small" name="field" size="1" id="field">
					<option value="0" selected="selected">@Html(get(fields(0)))</option>
					<option value="1">@Html(get(fields(1)))</option>
					<option value="2">@Html(get(fields(2)))</option>
			</select></td>
			<td class="form"><input class="button" type="submit" value="@Html(get("views.index.search.button"))" />
			</td>
		</tr>
	</table>
	}

	<p>
		@Html(get("views.index.search.info"))
	</p>
	<h3>@Html(get("views.index.header.1"))</h3>
	<p>
		@Html(get("views.index.text.1", "application/signup", "http://localhost:8181/drc/drc_rap?startup=de.uni_koeln.ub.drc.ui.rap.entrypoint", "http://github.com/spinfo/drc/downloads", "http://github.com/spinfo/drc", "application/faq"))
	</p>

	@if(top.size > 0) {
	<h3>@Html(get("views.index.header.2"))</h3>
	<table>
		<tr>
			<th>@Html(get("views.index.users.rank"))</th>
			<th>@Html(get("views.index.users.name"))</th>
			<th>@Html(get("views.index.users.region"))</th>
			<th>@Html(get("views.index.users.points"))</th>
		</tr>
		@for(user<-top){
		<tr class="active-user">
			<td>@(top.indexOf(user)+1)</td>
			<td><a href="@action(controllers.Application.user(user.id))">@user.id</a></td>
			<td>@user.region</td>
			<td>@user.reputation</td>
		</tr>
		}
	</table>
	} <a href="@action(controllers.Application.users)">@Html(get("views.index.users.more"))</a>
</div>
<div id="right">
	<img src="/public/images/casanova.jpg" width="150px" class="floatRight"/>
  <i>@Html(get("views.index.greeting", "application/salid"))</i>
	<h3>@Html(get("views.index.header.4"))</h3>
	<p> 
		@Html(get("views.index.about", "application/info")) 
	</p>
</div>

}