#{extends 'main.html' /} #{set title:'DRC' /}

<div id="left">

	<h3>Mitmachen</h3>
	<p>
		Helfen Sie mit: Melden Sie <a href="@{Application.signup()}">sich
			an</a> und laden Sie die <a href="http://github.com/spinfo/drc/downloads">aktuelle
			Beta-Version</a> des Editors für Windows oder Mac, oder partizipieren Sie
		an der Entwicklung auf <a href="http://github.com/spinfo/drc">GitHub</a>.
	</p>

	#{if top.size() > 0}
	<h3>Aktive Korrektoren</h3>
	<table>
		<tr>
			<th>Rank</th>
			<th>Name</th>
			<th>Region</th>
			<th>Score</th>
		</tr>
		#{list items:top, as:'user'}
		<tr class="active-user">
			<td>${top.indexOf(user)+1}</td>
			<td><a href="@{Application.user(user.id)}">${user.id}</a>
			</td>
			<td>${user.region}</td>
			<td>${user.reputation()}</td>
		</tr>
		#{/list}
	</table>
	#{/if} <a href="@{Application.users}">mehr...</a>
</div>
<div id="right">

	<h3>Über das Projekt</h3>

	<p>
		Die Rätoromanische Chrestomathie von Caspar Decurtins ist die bis
		heute wichtigste Textsammlung des Bündnerromanischen. Die insgesamt
		rund 8000 Seiten enthalten Texte der verschiedensten Gattungen über
		einen Zeitraum von vier Jahrhunderten, aus allen Regionen und in allen
		Idiomen des Bündnerromanischen. Ursprünglich zwischen 1891 und 1919
		zusammengestellt, ist die Rätoromanische Chrestomathie nun erstmals
		auch digital zugänglich. Helfen Sie mit, die Chrestomathie
		originalgetreu und fehlerfrei zugänglich zu machen: Melden Sie sich an
		und laden Sie die aktuelle Beta-Version des Editors für Windows oder
		Mac. Hinweise zur Benutzung finden sie <a href="@{Application.faq}">hier</a>.
		Mehr zum DRC-Projekt finden Sie <a href="@{Application.info}">hier</a>.
	</p>
	#{if ids.size() > 0} Erster Band: ${ids.size()} Seiten.
	<p>
		#{list items:pages, as:'page'} <a href="${page}"><img
			src="${page}" width=80px /> </a> #{/list}
	</p>
	#{/if}

</div>