#{extends 'main.html' /} #{set title:'crestomazia.ch' /}

<div id="left">

    <h3>&{'views.index.header.3'}</h3>

	#{form @Application.search()}
	<table class="form">
		<tr class="form">
			<td class="form"><label for="term">&{'views.index.search.term'}</label>
			</td>
			<td class="form"><input type="text" name="term" id="term"
				value="${params.term}" />
			</td>
			<td class="form"> 
				#{select 'volume', value:15, id:'volume'}
				#{option 1}&{'views.index.search.volume'} I, 1. #{/option}
				#{option 2}&{'views.index.search.volume'} I, 2. - 3. #{/option}
				#{option 3}&{'views.index.search.volume'} II, 1. #{/option}
				#{option 4}&{'views.index.search.volume'} II, 2. - 3. #{/option}
				#{option 5}&{'views.index.search.volume'} V #{/option}
				#{option 6}&{'views.index.search.volume'} VI #{/option}
				#{option 7}&{'views.index.search.volume'} VII #{/option}
				#{option 8}&{'views.index.search.volume'} VIII #{/option}
				#{option 9}&{'views.index.search.volume'} IX #{/option}
				#{option 10}&{'views.index.search.volume'} X, 1. - 3. #{/option}
				#{option 11}&{'views.index.search.volume'} X, 3. #{/option}
				#{option 12}&{'views.index.search.volume'} XI #{/option}
				#{option 13}&{'views.index.search.volume'} XII #{/option}
				#{option 14}&{'views.index.search.volume'} XIII #{/option}
				#{option 15}&{'views.index.search.all'}#{/option}
				#{/select}</td>
			<td class="form"><input type="submit" value="Submit" />
			</td>
		</tr>
	</table>
	#{/form}

	<p>
		&{'views.index.search.info'}
	</p>
	<h3>&{'views.index.header.1'}</h3>
	<p>
		&{'views.index.text.1', 'application/signup', 'http://github.com/spinfo/drc/downloads', 'http://github.com/spinfo/drc', 'application/faq'}
	</p>

	#{if top.size() > 0}
	<h3>&{'views.index.header.2'}</h3>
	<table>
		<tr>
			<th>&{'views.index.users.rank'}</th>
			<th>&{'views.index.users.name'}</th>
			<th>&{'views.index.users.region'}</th>
			<th>&{'views.index.users.points'}</th>
		</tr>
		#{list items:top, as:'user'}
		<tr class="active-user">
			<td>${top.indexOf(user)+1}</td>
			<td><a href="@{Application.user(user.id)}">${user.id}</a></td>
			<td>${user.region}</td>
			<td>${user.reputation()}</td>
		</tr>
		#{/list}
	</table>
	#{/if} <a href="@{Application.users}">&{'views.index.users.more'}</a>
</div>
<div id="right">

	<img src="/public/images/casanova.jpg" width="150px" class="floatRight"/>
	
    <i>&{'views.index.greeting', 'application/salid'}</i>

	<h3>&{'views.index.header.4'}</h3>
	
	<p> 
		&{'views.index.about', 'application/info'} 
	</p>
	#{if ids.size() > 0} &{'views.index.about.pages', ids.size()}
	<p>
		#{list items:pages, as:'page'} <a href="${page}"><img src="${page}" width=80px /> </a> #{/list}
	</p>
	#{/if}

</div>