@import play.i18n.Messages._
@main("crestomazia.ch") {

<h2>@Html(get("views.press.header.1"))</h1>

<ul>
	<li>@Html(get("views.press.news.10", "/public/files/laquotidiana_2011-09-02_p11.pdf"))
	</li>
	<li>@Html(get("views.press.news.9", "/public/files/NZZ_Nr.175_2011-07-29_p10.pdf"))
	</li>
	<li>@Html(get("views.press.news.8", "/public/files/buendner-tagblatt-2011-06-07_p9.pdf"))
	</li>
	<li>@Html(get("views.press.news.7", "/public/files/laquotidiana_2011-06-07_p2.pdf"))
	</li>
	<li>@Html(get("views.press.news.6", "/public/files/laquotidiana_2011-06-07_p1.pdf"))
	</li>
	<li>@Html(get("views.press.news.5", "/public/files/suedostschweiz-2011-06-07.pdf"))
	</li>
	<li>@Html(get("views.press.news.4", "http://www.rtr.ch/home/radio/emissiuns/Cultura/2011/06/20110607-1115-Crestomazia-Retorumantscha-per-tuts.html"))
	</li>
	<li>@Html(get("views.press.news.3", "http://www.rtr.ch/home/novitads/archiv/2011/06/06/La-Crestomazia-Rumantscha---online.html"))
	</li>
	<li>@Html(get("views.press.news.2", "http://www.rtr.ch/home/utensils/players/video.6213fad1-5eb8-4cbd-a2c0-196254f63edc.html?/home/televisiun/emissiuns/Telesguard-sin-SF-1/2011/06/20110606-1740-Telesguard-sin-SF-1"))
	</li>
	<li>@Html(get("views.press.news.1", "/public/files/ikg-mitteilungen-nr11-2010_p26-27.pdf"))
	</li>
</ul>

<h2>@Html(get("views.press.header.2"))</h1>

<ul>
	<li>@Html(get("views.press.publ.1", "/public/files/drc-zuerich-2010-12-09.pdf"))
	</li>
	<li>@Html(get("views.press.publ.2"))
	</li>
	<li>@Html(get("views.press.publ.3", "/public/files/drc-poster.pdf"))
	</li>
	<li>@Html(get("views.press.publ.4"))
	</li>
	<li>@Html(get("views.press.publ.5"))
	</li>
</ul>
}
