#{extends 'main.html' /} #{set title:'crestomazia.ch' /}

<h2>&{'views.press.header.1'}</h1>

<ul>
	<li>&{'views.press.news.1', 'http://www.rtr.ch/home/utensils/players/video.6213fad1-5eb8-4cbd-a2c0-196254f63edc.html?/home/televisiun/emissiuns/Telesguard-sin-SF-1/2011/06/20110606-1740-Telesguard-sin-SF-1'}
	</li>
	<li>&{'views.press.news.2', 'http://www.rtr.ch/home/novitads/archiv/2011/06/06/La-Crestomazia-Rumantscha---online.html'}
	</li>
	<li>&{'views.press.news.3', 'http://www.rtr.ch/home/radio/emissiuns/Cultura/2011/06/20110607-1115-Crestomazia-Retorumantscha-per-tuts.html'}
	</li>
	<li>&{'views.press.news.4', '/public/files/südostschweiz-2011-06-07.pdf'}
	</li>
	<li>&{'views.press.news.5', '/public/files/laquotidiana_2011-06-07_p1.pdf'}
	</li>
	<li>&{'views.press.news.6', '/public/files/laquotidiana_2011-06-07_p2.pdf'}
	</li>
	<li>&{'views.press.news.7', '/public/files/bündner-tagblatt-2011-06-07_p9.pdf'}
	</li>
</ul>

<h2>&{'views.press.header.2'}</h1>

<ul>
	<li>&{'views.press.publ.1', '/public/files/drc-zürich-2010-12-09.pdf'}
	</li>
	<li>&{'views.press.publ.2', '/public/files/drc-münchen-2011-02-17.pdf'}
	</li>
	<li>&{'views.press.publ.3', '/public/files/drc-poster.pdf'}
	</li>
	<li>&{'views.press.publ.4'}
	</li>
</ul>

