#{extends 'main.html' /} #{set title:'Sign up' /}

<h1>Create new account</h1>

#{form @Application.createAccount()}
     #{ifErrors}
        <p class="error">
            All fields are required!
        </p>
    #{/ifErrors}
    <table class="form">
    <tr class="form">
        <td class="form"><label for="name">Your full name: </label></td>
        <td class="form"><input type="text" name="name" id="name" value="${params.name}"/></td>
    </tr>
    <tr class="form">
        <td class="form"><label for="id">Your user id: </label></td>
        <td class="form"><input type="text" name="id" id="id" value="${params.id}"/></td>
    </tr>
    <tr class="form">
        <td class="form"><label for="pass">Your password: </label></td>
        <td class="form"><input type="password" name="pass" id="pass" value="${params.pass}"/></td>
    </tr>
    <tr class="form">
        <td class="form"><label for="region">Your location: </label></td>
        <td class="form"><input type="text" name="region" id="region" value="${params.region}"/></td>
    </tr>
    </table>
    <p><input type="submit" value="Submit" /></p>
#{/form}
