#{extends 'main.html' /} #{set title:'DRC' /}

<div id="left">
	#{if active.size() > 0}
	<h3>Aktive Benutzer</h3>
	<table>
		<tr>
			<th>Rank</th>
			<th>Name</th>
			<th>Region</th>
			<th>Score</th>
		</tr>
		#{list items:active, as:'user'}
		<tr class="active-user">
			<td>${active.indexOf(user)+1}</td>
			<td><a href="@{Application.user(user.id)}">${user.id}</a></td>
			<td>${user.region}</td>
			<td>${user.reputation()}</td>
		</tr>
		#{/list}
	</table>
</div>
<div id="buf"></div>
<div id="right">
	#{/if} #{if inactive.size() > 0}
	<h3>Inaktive Benutzer</h3>
	<table>
		<tr>
			<th>Name</th>
			<th>Region</th>
		</tr>
		#{list items:inactive, as:'user'}
		<tr class="inactive-user">
			<td>${user.id}</td>
			<td>${user.region}</td>
		</tr>
		#{/list}
	</table>
	#{/if}
	<h3>Mitmachen</h3>
	<p>
		Helfen Sie mit: Melden Sie <a href="@{Application.signup()}">sich
			an</a> und laden Sie die <a href="http://github.com/spinfo/drc/downloads">aktuelle
			Beta-Version</a> des Editors für Windows oder Mac, oder partizipieren Sie
		an der Entwicklung auf <a href="http://github.com/spinfo/drc">GitHub</a>.
	</p>

</div>