#{extends 'main.html' /} #{set title:'crestomazia.ch' /}
<h3>&{'views.users.participate'}</h3>
<p>
	&{'views.users.text', 'application/signup', 'http://github.com/spinfo/drc/downloads'}
</p>
<div id="left">
	
	#{if left.size() > 0}
	<h3>&{left.size()+right.size()} &{'views.users'}</h3>
	<table>
		<tr>
			<th>&{'views.index.users.rank'}</th>
			<th>&{'views.index.users.name'}</th>
			<th>&{'views.index.users.region'}</th>
			<th>&{'views.index.users.points'}</th>
		</tr>
		#{list items:left, as:'user'}
		<tr class="active-user">
			#{user user:user, rank:left.indexOf(user)+1/}
		</tr>
		#{/list}
	</table>
</div>
<div id="buf"></div>
<div id="right">
	#{/if} #{if right.size() > 0}
	<h3>&nbsp;</h3>
	<table>
		<tr>
			<th>&{'views.index.users.rank'}</th>
			<th>&{'views.index.users.name'}</th>
			<th>&{'views.index.users.region'}</th>
			<th>&{'views.index.users.points'}</th>
		</tr>
		#{list items:right, as:'user'}
		<tr class="inactive-user">
			#{user user:user, rank:left.size()+right.indexOf(user)+1/}
		</tr>
		#{/list}
	</table>
	#{/if}
</div>