#{extends 'main.html' /} #{set title:'User' /}

<h1>${user.name}</h1>

<p>Score: ${user.reputation()} (${user.edits} edits, ${user.upvotes} upvotes, ${user.downvotes} 
downvotes, ${user.upvoted} upvoted, ${user.downvoted} downvoted)</p>
<p>Region: ${user.region}</p>
#{if link.endsWith(".png")}
<p>Last edited: volume ${page.volume()}, page ${page.number()}</p>
<p><img src="${link}" width="350px" /></p>
#{/if}
#{else}
<p class="attention">To get started, download the latest beta release of the editor for
<a
  href="http://github.com/downloads/spinfo/drc/drc-beta-win-2011-02-25.zip">Windows</a>
or <a
  href="http://github.com/downloads/spinfo/drc/drc-beta-mac-2011-02-25.zip">Mac</a>.
#{/else}
