#{extends 'main.html' /} #{set title:'crestomazia.ch' /}

<div id="left">
	#{if active.size() > 0}
	<h3>&{'views.users.active'}</h3>
	<table>
		<tr>
			<th>&{'views.index.users.rank'}</th>
			<th>&{'views.index.users.name'}</th>
			<th>&{'views.index.users.region'}</th>
			<th>&{'views.index.users.points'}</th>
		</tr>
		#{list items:active, as:'user'}
		<tr class="active-user">
			<td>${active.indexOf(user)+1}</td>
			<td><a href="@{Application.user(user.id)}">${user.id}</a></td>
			<td>${user.region}</td>
			<td>${user.reputation()}</td>
		</tr>
		#{/list}
	</table>
</div>
<div id="buf"></div>
<div id="right">
	#{/if} #{if inactive.size() > 0}
	<h3>&{'views.users.inactive'}</h3>
	<table>
		<tr>
			<th>&{'views.index.users.name'}</th>
			<th>&{'views.index.users.region'}</th>
		</tr>
		#{list items:inactive, as:'user'}
		<tr class="inactive-user">
			<td>${user.id}</td>
			<td>${user.region}</td>
		</tr>
		#{/list}
	</table>
	#{/if}
	<h3>&{'views.users.participate'}</h3>
	<p>
		&{'views.index.text.1', 'application/signup', 'http://github.com/spinfo/drc/downloads', 'http://github.com/spinfo/drc'}
	</p>

</div>