html,body {
  background: #FFFFFF !important;
  font-family: Helvetica, Arial, Sans !important;
  font-size: 11pt;
}

body {
  width: 950px;
  padding: 0 30px;
  margin: auto;
}

#header {
  /* background: yellow; */
}

#main {
  padding-bottom: 120px; /* Height of the footer */
  /* background: gray; */
}

#left {
  float: left;
  width: 50%;
  /* background: green; */
}

#right {
  float: left;
  width: 50%;
  text-align: right; /* depends on element width */
  /* background: red; */
}

#footer {
  padding-top: 20px;
  clear: both;
  width: 950px;
  height: 120px; /* Height of the footer */
  /* background: lightblue; */
}

table {
	border-collapse: collapse;
	width:95%;
}

table.form,th.form,td.form {
	border: 0px;
	text-align: left;
	padding-left: 3px;
	padding-right: 10px;
}

table,th,td {
	border: 1px solid lightgray;
	text-align: left;
	padding-left: 10px;
	padding-right: 10px;
}

img {
	border: 1px solid lightgray;
}

h1,h2,h3 {
	color: #869AB1;
	margin-bottom: 15px;
}

a {
	color: black;
}

a:hover {
	color: gray;
}

hr {
	border: 0px;
	border-top: solid 1px gray;
}

p.error {
	color: red;
}

p.attention {
	color: darkgreen;
}