<!DOCTYPE html>

<html>
<head>
<title>#{get 'title' /}</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="stylesheet" type="text/css" media="screen"
	href="@{'/public/stylesheets/main.css'}">
#{get 'moreStyles' /}
<link rel="shortcut icon" type="image/png"
	href="@{'/public/images/favicon.png'}">
<script src="@{'/public/javascripts/jquery-1.4.2.min.js'}"
	type="text/javascript" charset="utf-8"></script>
#{get 'moreScripts' /}
</head>
<body>
	<div id="header">
		<div id="title">
			<h1>&{'views.main.header'}</h1>
		</div>
		<div id="logo-top">
			<img src="/public/images/drc-top.png" width="250px" />
		</div>
		<p>
			<a href="@{Application.index}">&{'views.main.start'}</a> | <a
				href="@{Application.users}">&{'views.main.users'}</a> | <a
				href="@{Application.signup}">&{'views.main.signup'}</a> | <a
				href="@{Application.faq}">&{'views.main.faq'}</a> | <a
				href="@{Application.info}">&{'views.main.info'}</a> | <a
				href="@{Application.press}">&{'views.main.pub'}</a> | <a
				href="@{Application.contact}">&{'views.main.contact'}</a> | 
				&{'views.main.language'} <a
				href="@{Application.changeLanguage('rm')}">rm</a> <a
				href="@{Application.changeLanguage('de')}">de</a> <a
				href="@{Application.faq}#q14">&{'views.main.language.help'} </a>
		</p>
		<hr />
	</div>
	<div id="main">#{doLayout /}</div>
	<div id="footer">
		<hr />
		<div id="logo-bottom">
			<img src="/public/images/drc-bottom.png" width="250px" />
		</div>
		<p>
			<i>&{'views.main.footer'}</i>
		</p>
	</div>
</body>
</html>
